<!--
    Benjamin Avrahami, Junhee Lee
    SoftDev2 pd9, 1
    K18 :: Come Up For Air
    2020-04-06    
-->
<!DOCTYPE html>
<html>
    <head>
        <title>CORGIS Dataset Render</title>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- d3 -->
        <script src="http://d3js.org/d3.v5.min.js"></script>
        <style>
            .chart div {
            width: 0px;
            font: 10px sans-serif;
            background-color: steelblue;
            text-align: right;
            padding: 3px;
            margin: 1px;
            color: white;
            }
          </style>
    </head>
    <body>
        <h1 id='heading'></h1>
        <div class='chart'></div>
        <button id='button'>Render</button>
        <script src='/static/js/bar.js'></script>
    </body>
</html>